* {
  font-family: "Open Sans", sans-serif;
}

.page404 {
  margin: 20px;
  .logo404 {
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
    .headerIcon {
      width: 60%;
    }
  }
  .linkBtn {
    text-align: center;
    margin-bottom: 2rem;
    .pages-link {
      padding: 0 3rem 0 3rem;
      //上部の3つボタン
      a {
        padding: 8px;
        text-decoration: none;
        background-color: #0703fe;
        color: #fff;
        border-radius: 5px;
        margin: 4px;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
        &:hover {
          opacity: 0.8;
          background-color: #1991DA;
          transition: 0.2s;
        }
      }
    }
  }
}
