.aboutTitle {
  text-align: center;
  font-weight: normal;
}
.logoContainer {
  text-align: center;
  .logo {
    max-width: 50px;
    display: inline;
    padding: 0.8rem;
  }
}

.first-prof {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  flex: 1;
  padding: 1rem;

  .img {
    border-radius: 50%;
    margin-bottom: 200px;
  }
  .imagen {
    justify-content: center;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }

  // .icon {
  //   flex-direction: column;
  //   float: left;
  //   font-weight: 1500;
  //   .i {
  //     padding: 0;
  //   }
  //   p {
  //     margin: 0;
  //     display: inline-block;
  //   }
  // }
}
//about マークについた一言
.textBox {
  margin-top: 5px;
  .icon {
    display: flex;
    line-height: 30px;
  }
}
// .icon {
//   text-align: center;
//   display: flex;
//   // text-align: center;
//   // flex-direction: column;
//   // font-weight: 1500;
//   // padding: 0;
// }

.article {
  padding: 1.4rem;
  flex-direction: row;
  flex: 2;
  font-size: 1.2rem;
  text-align: justify;
  margin-left: 2rem;
}

.socialContainer {
  text-align: center;
  // a {
  //   color: black;
  //   &:visited {
  //     color: black;
  //   }
  // }
  .social {
    color: black;
    // padding: 0 0.5rem;
    &:visited {
      color: black;
    }
    i {
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out;
      padding: 16px 16px 0 16px;
      &:hover {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        color: cornflowerblue;
        transition: 0.2s;
      }
    }
  }
  //   .tooltip {
  //   position: relative;
  // }
  // .tooltip::before,
  // .tooltip::after {
  //   position: absolute;
  //   transition: all 0.3s ease 0s;
  //   opacity: 0;
  // }
  // .tooltip::before {
  //   content: "";
  //   border: 10px solid transparent;
  //   border-bottom-color: #000;
  //   top: 10px;
  //   left: 12px;
  // }
  // .tooltip::after {
  //   content: attr(data-tooltip);
  //   display: block;
  //   padding: 20px;
  //   background: #000;
  //   color: #fff;
  //   border-radius: 5px;
  //   top: 30px;
  //   left: 0;
  // }
  // .tooltip:hover::before {
  //   top: 16px;
  //   opacity: 1;
  // }
  // .tooltip:hover::after {
  //   top: 36px;
  //   opacity: 1;
  // }
}

@media (max-width: 1050px) {
  .firstProf {
    margin: 0;
    .img {
      margin-bottom: 0;
    }
  }
  .article {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .social {
    font-size: 1rem;
  }

  .icon {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .aboutTitle {
    text-align: center;
    white-space: nowrap;
    text-align: center;
  }

  .icon {
    font-size: 0.8rem;
  }
}

@media (min-width: 700px) {
  .main {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 700px) {
    .imagen {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
    .imagen {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .aboutTitle {
    text-align: center;
    white-space: nowrap;
    margin: 0 !important;
    margin-block-end: 0 !important;
  }
  //顔画像
  .img {
    width: 80%;
    margin: 0 auto;
  }
  .article {
    padding: 0;
    font-size: 0.875rem;
    margin-left: 0;
  }

  .social {
    font-size: 0.875rem;
  }
}
