.aboutTitle {
  text-align: center;
  font-weight: normal;
}
.logoContainer {
  text-align: center;
  .logo {
    max-width: 50px;
    display: inline;
    padding: 0.8rem;
  }
}

.first-prof {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  flex: 1;
  padding: 1rem;

  .img {
    border-radius: 50%;
    margin-bottom: 200px;
  }
  .imagen {
    justify-content: center;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }

  // .icon {
  //   flex-direction: column;
  //   float: left;
  //   font-weight: 1500;
  //   .i {
  //     padding: 0;
  //   }
  //   p {
  //     margin: 0;
  //     display: inline-block;
  //   }
  // }
}
//about マークについた一言
.textBox {
  margin-top: 5px;
  .icon {
    display: flex;
    line-height: 30px;
  }
}
// .icon {
//   text-align: center;
//   display: flex;
//   // text-align: center;
//   // flex-direction: column;
//   // font-weight: 1500;
//   // padding: 0;
// }

.article {
  padding: 1.4rem;
  flex-direction: row;
  flex: 2;
  font-size: 1.2rem;
  text-align: justify;
  margin: auto;
}

.social {
  font-size: 1.4rem;
  color: black;
  padding: 0 1rem;
}

.social:hover {
  color: cornflowerblue;
}

.social-container {
  text-align: center;
}

@media (max-width: 1050px) {
  .firstProf {
    margin: 0;
    .img {
      margin-bottom: 0;
    }
  }
  .article {
    font-size: 1rem;
  }

  .social {
    font-size: 1rem;
  }

  .icon {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .aboutTitle {
    text-align: center;
    white-space: nowrap;
    text-align: center;
  }

  .icon {
    font-size: 0.8rem;
  }
}

@media (min-width: 700px) {
  .main {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 550px) {
  .aboutTitle {
    text-align: center;
    white-space: nowrap;
    margin: 0 !important;
    margin-block-end: 0 !important;
  }
  //顔画像
  .img {
    width: 80%;
    margin: 0 auto;
  }
  .article {
    padding: 0;
    font-size: 0.875rem;
  }

  .social {
    font-size: 0.875rem;
  }
}
