//フッター
.footer {
  width: 100%;
  background-color: #dddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .wrapper {
    margin-top: 15px;
    text-decoration: none;
    color: black;
    &_label {
      font-weight: bold;
      font-size: 1.4rem;
    }
    //左の3つ
    .contents {
      display: grid;
      .link {
        padding-left: 10px;
        color: black;
        text-decoration: none;
        padding-top: 4px;
        &:hover {
          color: #1991da;
          transition: 0.2s;
        }
        i {
          padding: 0;
          font-size: 12px;
        }
      }
    }
    .mobileContact {
      text-decoration: none;
    }
    .mobileIcon {
      i {
        color: #1991da;
      }
    }
    .mobileText {
      color: black;
      &:hover {
        color: #1991da;
        transition: 0.2s;
      }
      i {
        padding: 0;
        font-size: 12px;
      }
    }
    //吹き出し
    // .tooltip {
    //   position: relative;
    //   color: black;
    // }
    // .tooltip::before,
    // .tooltip::after {
    //   position: absolute;
    //   transition: all 0.3s ease 0s;
    //   opacity: 0;
    //   margin-left: 16px;
    // }
    // .tooltip::before {
    //   content: "";
    //   border: 10px solid transparent;
    //   border-bottom-color: #000;
    //   top: 10px;
    //   left: 12px;
    // }
    // .tooltip::after {
    //   content: attr(data-tooltip);
    //   display: block;
    //   padding: 10px;
    //   background: #000;
    //   color: #fff;
    //   border-radius: 5px;
    //   top: 30px;
    //   left: 0;
    //   font-size: small;
    //   width: 160px;
    // }
    // .tooltip:hover::before {
    //   top: 16px;
    //   opacity: 1;
    // }
    // .tooltip:hover::after {
    //   top: 36px;
    //   opacity: 1;
    // }
    //コンタクトの鳥かたむく
    i {
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out;
      padding: 15px 25px 15px 25px;
      color: black;
      &:hover {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        color: #1991da;
        transition: 0.2s;
        opacity: 0.8;
      }
    }
  }
  //©
  .bottom {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #dddd;
    line-height: 25px;
    margin-top: 10px;
  }
}
// //550以下の場合
// @media (max-width: 550px) {
//   .tooltip::before,
//   .tooltip::after {
//     display: none;
//   }
//   .tooltip:hover::before {
//     display: none;
//   }
//   .tooltip:hover::after {
//     display: none;
//   }
// }
// //50以上の場合
// @media (min-width: 550px) {
//   // .footer {
//   //   .mobileTwitter {
//   //     display: none;
//   //     color: black;
//   //     text-decoration: none;
//   //   }
//   //   .mobile {
//   //     display: none;
//   //   }
//   // }
// }
