body {
  margin: 0;
  background-color: #fbfbfb;
}
hr {
  color: black;
  margin-top: 2rem;
}
h1 {
  font-size: 5rem;
  margin: 0 0 1rem 0;
  font-family: "Open Sans", sans-serif;
}

.attr {
  font-family: "Anonymous Pro", monospace;
  background-color: #c3f8ff;
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0.5rem;
}

.attr:hover {
  background-color: transparent;
}

.icons {
  padding: 1rem;
  text-align: right;
  margin-right: 50px;
  height: 40px;
  a {
    color: black;
    &:visited {
      color: black;
    }
  }

  .tooltip {
    position: relative;
  }
  .tooltip::before,
  .tooltip::after {
    position: absolute;
    transition: all 0.3s ease 0s;
    opacity: 0;
  }
  .tooltip::before {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #000;
    top: 10px;
    left: 12px;
  }
  .tooltip::after {
    content: attr(data-tooltip);
    display: block;
    padding: 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    top: 30px;
    left: 0;
  }
  .tooltip:hover::before {
    top: 16px;
    opacity: 1;
  }
  .tooltip:hover::after {
    top: 36px;
    opacity: 1;
  }

  .fab {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    &:hover {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
  }
  //wantedlyアイコン
  .svgIcon {
    width: 42px;
    margin-bottom: -10px;
    margin-left: 5px;
    margin-right: 3px;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;

    &:hover {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
  }
}

i {
  font-size: 1.6rem;
  padding: 1rem;
}

.header-main {
  padding: 1rem 20rem 1rem 20rem;
  text-align: center;
  .headerIcon {
    width: 60%;
    height: auto;
    margin: 20px;
  }
}
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  // min-height: 100vh;
}
.content-main {
  padding: 0 20rem 5rem 25px;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 58vh;
}

.pages-link {
  padding: 0 2rem 0 2rem;
  margin-bottom: 1rem;

  //上部の3つボタン
  a {
    padding: 5px;
    text-decoration: none;
    background-color: #0703fe;
    color: #fff;
    border-radius: 5px;
    margin: 4px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    &:hover {
      opacity: 0.8;
      background-color: #2167e9;
      transition: 0.2s;
    }
  }
}

//typewriter-effect
.IamText {
  width: 110px;
  white-space: nowrap;
}
.before-typewriting-text {
  display: flex;
  flex-direction: row;
  font-size: 2.8rem;
  color: black;
  margin-left: 20px;
}

@media (max-width: 1400px) {
  .header-main {
    text-align: center;
    padding: 0;
    .headerIcon {
      width: 60%;
      height: auto;
      margin: 20px;
    }
  }

  .content-main {
    padding: 0 2rem 3rem;
    height: 100%;
  }
}

//小画面
@media (max-width: 650px) {
  .header-main {
    text-align: center;
    padding: 0;
    .headerIcon {
      width: 60%;
      margin: 15px;
    }
  }
  //上部リンク
  .pages-link {
    white-space: nowrap;
    padding: 0;
    .a {
      font-size: 0.7rem;
    }
  }
  .icons {
    white-space: nowrap;
    text-align: center;
    margin-right: 0;
  }

  .content-main {
    padding-bottom: 5rem;
    height: 100%;
  }
  .IamText {
    width: 55px;
    white-space: nowrap;
    font-size: 1.5rem;
  }
  .before-typewriting-text {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: black;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.nodecor {
  text-decoration: none;
  color: black;
  &:hover {
    color: #1403fe;
  }
}
