//ボタン内デフォルトが大文字
.LinkBtn {
  background-color: #1991da !important;
  padding: 6px 10px !important;
  box-shadow: 0px 5px 40px -2px #00000033!important;
  //ふわふわエフェクト
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.3s ease;
  animation: bounce 1.1s ease-in-out forwards;
  animation-iteration-count: infinite;
  &:hover {
    opacity: 0.8;
    transition: 0.1s;
    // background-color: #1991da; //現状効かないためTODO
  }
  @keyframes bounce {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
    50% {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }

  .MuiButton-label {
    color: white;
    text-transform: none;
    font-weight: 900;
  }
}
